<ion-header [translucent]="true">
    <app-header pageTitle="Treatments">
        <ion-buttons slot="end">
            <ion-button id="todays-plan">
                <ion-icon name="calendar-number-outline" color="primary"></ion-icon>
            </ion-button>
            <ion-button (click)="treatmentDataPopover($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </app-header>
</ion-header>

<ion-alert
        trigger="todays-plan"
        header="Today's plan"
        message="You have <b>{{planningData.todayExposures}}</b> planned exposures,
                 for a total of <b>{{planningData.todayTime}}</b>.<br><br>
            <b>{{planningData.lateExposures}}</b> exposures are late."
></ion-alert>

<ion-content class="ion-padding">
    <ion-fab vertical="bottom" horizontal="end" class="ion-padding-end">
        <ion-fab-button [routerLink]="['/treatments', 'new']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card *ngIf="!treatments">
        <ion-card-header></ion-card-header>
        <ion-card-content>{{HowTo}}</ion-card-content>
    </ion-card>
    <ion-list [inset]="true">
        <ion-item button *ngFor="let treatment of treatments | async" (click)="openTreatment(treatment)"
                  [ngClass]="[treatmentPhaseClass(treatment), treatmentIsLateClass(treatment)]">
            <ion-label color="primary">
                {{ treatment.area | uppercase }} <span *ngIf="treatment.completedRuns">[{{ treatment.completedRuns }} completed]</span>
            </ion-label>
            <ion-label color="medium">
                <p *ngIf="treatment.nextDose">Next: {{ treatment.nextDose | amCalendar }} for {{ treatment.nextDoseDuration | amFromUnix | amDateFormat:"mm:ss" }}
                </p>
            </ion-label>
            <ion-label color="medium">
                <p *ngIf="treatment.lastDose">Last: {{ treatment.lastDose | amCalendar }} for {{ treatment.lastDoseDuration | amFromUnix | amDateFormat:"mm:ss" }}</p>
                <ion-icon slot="end" name="warning" color="danger" *ngIf="treatmentIsLate(treatment)>7"></ion-icon>
                <ion-icon slot="end" name="alarm" color="secondary" *ngIf="treatmentIsLate(treatment)<=7 && treatmentIsLate(treatment)>0"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
