<ion-header [translucent]="true">
    <app-header pageTitle="Get in touch!"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <a href="mailto:9uummx7ns@mozmail.com">pgcd</a>
        </ion-item>
<!--        <ion-item>-->
<!--            <ion-icon name="logo-github" slot="start"></ion-icon>-->
<!--            <a href="https://github.com/pgcd/" target="_blank">pgcd</a>-->
<!--        </ion-item>-->
        <ion-item>
            <ion-icon name="logo-euro" slot="start"></ion-icon>
            <a href="https://ko-fi.com/pgcd23">Donate on Ko-fi</a>
        </ion-item>
        <ion-item>
            <ion-icon name="bug" slot="start"></ion-icon>
            <a href="https://github.com/pgcd/youvb-issues">Report bugs and issues</a>
        </ion-item>
    </ion-list>
</ion-content>
