<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="treatments" href="/treatments">
      <ion-icon aria-hidden="true" src="/assets/icon/treatment.svg"></ion-icon>
      <ion-label>Treatments</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history" href="/treatments/history">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/about">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" href="/contact">
      <ion-icon aria-hidden="true" name="mail-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
